.modal {
  position: relative;
  width: 250px;
  border-radius: 0.5rem;
  border: 2px solid rgb(191, 47, 42);
  height: 500px;
}

.logo {
  display: block;
  width: 90%;
  margin: 0.5rem 1rem;
  cursor: pointer;
}

.navlist {
  position: relative;
  padding: 3rem 0.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.navitem {
  color: rgb(214, 212, 212);
  padding: 0.5rem 0rem;
  border: 2px solid rgba(191, 47, 42, 0.555);
  font-weight: 800;
  border-radius: 0.2rem;
  padding-left: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.navitem:hover {
  background-color: red;
  background: linear-gradient(130deg, brown, red);
}

.icon {
  width: 25px;
}

.active {
  background-color: red;
  background: linear-gradient(130deg, brown, red);
  transition: all 0.5s ease-in-out;
}
