.modal {
  position: relative;
  width: 250px;
  border-radius: 0.5rem;
  height: 500px;
  border-right: 1px solid rgb(42, 57, 69);
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.logoIcon {
  display: block;
  width: 20px;
  margin: 0.5rem 1rem;
  cursor: pointer;
}

.logoSpan {
  color: white;
  font-weight: 800;
  margin-top: 0.4rem;
}

.navlist {
  position: relative;
  padding: 3rem 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.navitem {
  color: rgb(87, 100, 109);
  padding: 0.5rem 0rem;
  font-weight: 800;
  border-radius: 0.2rem;
  padding-left: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

.icon {
  width: 25px;
}

.active {
  background-color: rgb(16, 27, 35);
  color: white;
  /* background: linear-gradient(130deg, brown, red); */
}
